body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
}

/* Utility Stylesheets */
a, a:link, a:visited {
	text-decoration: none;
	color: #939393;
}
a:hover {
	color: #d0d0f0;
}
.clear {
clear: both;
}
.img-scaled {
width: 100%;
}

/*Login/Register bar*/
#loginbar {	
	position: absolute;
	width: 100%;
	background-color: #3b4046;
	text-align: left;
	height: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:12px;
	color: #ebeced;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loginbar a, #loginbar a:link, #loginbar a:visited {
	color: #ebeced;	
	text-decoration: none;
}
#loginbar a:hover {
	color: #ffffff;
}


#loginitemswrapper {
	float:right;	
}

.loginitem {
	display: inline;
	width: 60px;
	float:left;
}


/* Navigation Bar */
#navbar {
    position: absolute;
    background: #ebeced;
    color: white;
    width: 100%;
}
#navbar-content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px 13px 0px;
}
#navbar-contentcontainer {
    padding-top: 36px;
}
#cl-logo {
    float: left;
    font-size: 15px;
    font-weight: 700;
}
#cl-logo img {
	height: 50px;
	margin-left: -145px;
}
.nav-item {
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
}

/* Search Bar (from textfixer.com) */
#tfnewsearch{
    margin-top: 7px;
    margin-left: 14px;
}
.tftextinput{
	margin: 0;
	padding: 5px 15px;
	width: 500px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style: italic;
    	color: #939393;
	border: none;
	border-radius: 5px 5px;
}
.tfbutton {
	margin-left: 25px;
	padding: 4px 50px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight: 300;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: none;
	background: #e38a39;
	border-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #d27420;
}
.tfbutton::-moz-focus-inner {
	border: 0; /* Fixes submit button height problem in Firefox */
}

/* Item-View: General */
#content {
    padding-top: 115px;
    min-height: 560px;
}
#gridwrapper {
	margin-top: 45px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	height: 60%;
}
.row {
	min-height:100%;
}
.column {
	float: left;
	padding-right: 30px;
}
.element {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 25px;
	font-size: 16px;
	color: #939393;
	font-weight: lighter;
	letter-spacing: 1px;
}
.element-img {
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	background-color: #c2936f;
}
.element-img:hover {
	background-color: #d27420;
}
.element-text {
	padding-top: 5px;
	text-transform: lowercase;
}
.element-text a:hover {
	color: #f0f0f0;
}
#community {
	background-image: url('assets/community-icon.png');
}
#community:hover {
	visibility: hidden;
}
#container {
    background: #fff;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: 60px 0px;
    margin-top: 40px;
}


/* Footer -- universal */
#footer {
	position: relative;
	bottom: 0px;
	background: #ebeced;
	font-size: 12px;
	color: #939393;
	text-align: center;
	padding: 10px 0px;
}
.foo-item {
	display: inline;
	margin: 0px 16px;
}
#footer a, #footer a:link, #footer a:visited {
	color: #939393;
	text-decoration: none;
}
#footer a:hover {
	color: #000;
}

